:markdown
  My *motive*? Finding innovative applications of Internet enabled technology. Multimedia, communities, and game mechanics are crazy interesting. Operating systems, cryptography, and databases are kryptonite. Ceaseless curiosity sends me to strange new places and inspiring new discoveries. So much of the Internet's potential is still being discovered and I feel like I'm in on the ground floor.

  I have had plenty pipe dreams in my years. Monarch sought to find common ground in web applications and provide some level of interoperability. Hyve uses peer-to-peer networking to govern a system's distributed state. Engen is a framework capable of generating seemingly infinite worlds. Mecycle is a mechanism for collecting, sharing, and consuming multimedia. These are some of the ideas that keep me up at night.

  *[Monarch]: Modular Online Architecture
  *[Hyve]: Hybrid Version Exchange
  *[Engen]: Environment Generation
  *[Mecycle]: media+recycle

  I have far more projects unfinished than finished, I'll admit. My interest wanders in and out of a subject before I have time to finish what I started. Thankfully, I get enough sense for completion in my day job that wandering makes the most sense.
