:markdown
  My *means*? Street smarts from a life of hard knocks on the inner nets. My misguided youth lead to a web induced addiction to what we were calling "AJAX". Those innocent years wandering the nets were not unlike how Caine wandered the West in the documentary television series "Kung Fu". The trolling ended in 2004 when my addiction caught up with me and I was sent for new school rehab.

  I guess I was doing time for a couple majors and minors. Near as I can remember, I was elected for officer duty in 10 different roles with a stint of community service. A mob of us science-y types took the joint by storm and got some lifers out on good behavior. That time in the slammer ended in 2008 when I got my walking papers from Purdue University. It was the most kickin' good time I've had in recent memory.

  *[10 different roles]: <small>ACMx2, IEEEx2, UPE, PGDC, CSWN, PLUG, EPICS, College of Science Ambassador</small>
  *[community service]: EPICS: Engineering Projects in Community Service
  *[majors]: Honors Computer Science and Math
  *[minors]: Asian Studies and Japanese

  In my line of work all roads lead to the valley. I'm doin' the 9 to 5 at the 'tubes making flashy things for tweens and cat enthusiasts. Keeping current with all the crazy things you kids come up with has been a real time sink but I make due.

  *[tubes]: YouTube
  *[flashy things]: Flash video player
