:markdown
  My *method*? Unconventional. First and foremost I believe in working on what you love. And working hard. Working hard on what you believe in. Then, when you're done give it away. I don't want to be in the business of building computer trinkets. Naw, I'm talking about the good stuff--the really good stuff that you can't put a price on. Payin' bills is

  *[give it away]: who owns ideas?

  Evangelism.
