:markdown
  My *method*? Unconventional. First of all: working hard for the things I believe in. Then, when done: give it away! I don't want to be in the business of building one-off computer trinkets. Payin' bills with software might be the last electronic bubble to burst but it's not far behind music, movies, and other digital information. Solving problems people have with service and innovation is the only lasting business model.

  *[give it away]: who owns ideas? ...and for how long?

  It's a little evangelical too. Or maybe biased. There are a handful of ever-changing topics I'll defend to the death. I used to be a proponent of web semantics and strong typing but that's fallen out of favor next to the forces of flexibility, compactness, DRY, and their ilk. Seriously, if you're prototyping in Java or C++ I'm looking at you. Don't even get me started. Enterprise languages are so rarely the right tool for the job. Do your homework first.

  *[DRY]: Don't Repeat Yourself
  *[get me started]: ...or do: email for more criticism!

  I try to start a project with some goals and a handful of failing test cases. These get me a started and call out what is working (and shout when it they aren't working). Building test cases keeps the project focused, documented, and of course: well tested. Unfortunately, projects are diverse beasts and one so rarely has that luxury.
